<a href="javascript:">
	<div class="card mb-3" *ngIf="movie && movie.imdbID" [class.selected]="isActive">
		<div class="row no-gutters">
			<div class="col-md-6">
				<img [src]="movie?.Poster && movie.Poster !== 'N/A' ? movie.Poster : brokenImg" class="card-img-top " alt="{{ movie?.Title }}" title="{{ movie?.Title }}">
			</div>
			<div class="col-md-6">
				<div class="card-body">
					<a class="movie-title" [routerLink]="['/movies/movie', movie.imdbID ? movie.imdbID : '']">
						<div title="{{ movie?.Title }}">
							{{ movie?.Title }}
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</a>

