$cardBgColor: #525252;
$movieTitleColor: #fff;

img {
	height: 185px;
	background-size: contain;
}

div.card {
	background-color: $cardBgColor;
	margin: 10px;
	color: $movieTitleColor;
	cursor: pointer;
}

.movie-title {
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color:	#fff;
}

.selected {
	border: solid #99ffff 1px;
}
